//<p>employee-dashboard works!</p>


<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Employee Table</h1>
        <div class="d-flex">
            <button class="btn btn-success">Add Employee</button>
        </div>

    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Salary</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sashi</td>
            <td>Yadav</td>
            <td>$ 50,000</td>
            <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>